---
title: THIS IS INDEX
---

<div class="container">

	
	<h1>Today is <%= Date.today.strftime("%A, %b %d") %></h1>

	<ul>
		<% %w(middleman javascript ruby scss).each do |tech| %>
			<li>I'm playing with <%= tech %></li>	
		<% end %>
	</ul>

	<a href="#" class="btn btn-primary">NEW BUTTON</a>

</div>